In [33]:
#input
5

#output
# star 1 # *
# star 2 # **
# star 3 # ***
# star 4 # ****
# star 5 # *****

#Solution
n = int(input())
for rows in range(n) :
    for col in range(rows+1): # First loop is 0, So we should +1 for * in first loop. #Ensure
        print("*", end="")
    print()

 5

*
**
***
****
*****

In [155]:
#input
5

#output
# star 1 # *
# star 2 # * *
# star 3 # * * *
# star 4 # * * * *
# star 5 # * * * * *

#Solution
n = int(input())
for rows in range(n) :
    for col in range(rows+1): # First loop is 0, So we should +1 for * in first loop. #Ensure
        print("* ", end="")
    print()

 5

*
* *
* * *
* * * *
* * * * *

In [153]:
#input
5

#output
# space 4 star 1 #     *
# space 3 star 2 #    **
# space 2 star 3 #   ***
# space 1 star 4 #  ****
# space 0 star 5 # *****

#solution
n = int(input())
for rows in range(n):
    for space in range(n-rows-1): #
        print(" ", end="")
    for col in range(rows+1):
        print("*", end="")
    print()

 5

    *
   **
  ***
 ****
*****

In [175]:
#input
5

#output
# star 5 # *****
# star 4 # ****
# star 3 # ***
# star 2 # **
# star 1 # *

#solution
n = int(input())
for rows in range(n):
    for col in range(n-rows):
        print("*", end="")
    print()

 5

*****
****
***
**
*

In [173]:
#input
5

#output
# star 5 # *****
# star 4 # ****
# star 3 # ***
# star 2 # **
# star 1 # *

#solution
n = int(input())
for rows in range(n):
    for col in range(n-rows):
        print("* ", end="")
    print()

 5

* * * * *
* * * *
* * *
* *
*

In [179]:
#input
5

#output
# space 0 star 5 # *****
# space 1 star 4 #  ****
# space 2 star 3 #   ***
# space 3 star 2 #    **
# space 4 star 1 #     *

#solution
n = int(input())
for rows in range(n):
    for space in range(rows):
        print(" ", end="")
    for col in range(n-rows):
        print("*", end="")
    print()

 5

*****
 ****
  ***
   **
    *

In [57]:
#ASCII
for i in range(65, 90+1):
    print(chr(i) + " ", end="")
print()
for i in range(97, 122+1):
    print(chr(i) + " ", end="")

# ref # http://sticksandstones.kstrom.com/appen.html

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
a b c d e f g h i j k l m n o p q r s t u v w x y z

In [61]:
#input
5

#output
# A
# BB
# CCC
# DDDD
# EEEEE

#solution
alpha = 65
n = int(input())
for rows in range(n):
    for col in range(rows+1):
        print(chr(alpha), end="")
    alpha += 1
    print()

 5

A
BB
CCC
DDDD
EEEEE

In [149]:
#input
5

#output
# A
# AB
# ABC
# ABCD
# ABCDE

#solution
alpha = 65
n = int(input())
# for rows in range(n):
#     for col in range(rows+1):
#         print(chr(alpha), end="")
#         alpha += 1
#     print()
#     alpha = 65

# short than
for rows in range(n):
    for col in range(rows+1):
        alpha = 65
        print(chr(alpha+col), end="")
    print()

 5

A
AB
ABC
ABCD
ABCDE

In [97]:
#math
# 2n is even

#input
5

#output
2
4
6
8
10

#solution
n = int(input())
for i in range(n):
    print(2*(i+1))

# 2n-1 is odd

#input
5

#output
1
3
5
7
9

#solution
n = int(input())
for i in range(n):
    print((2*(i+1))-1)

 5

2
4
6
8
10

 5

1
3
5
7
9

In [171]:
#input
5

#output
# space 8 star 1 #         *
# space 6 star 2 #       * *
# space 4 star 3 #     * * *
# space 2 star 4 #   * * * *
# space 0 star 5 # * * * * *

#solution
n = int(input())
for rows in range(n):
    print(" " * (2*(n-rows-1)), end="")
    print("* " * (rows+1), end="")
    print()

 5

        *
      * *
    * * *
  * * * *
* * * * *

In [181]:
#input
5

#output
# space 0 star 5 # * * * * *
# space 2 star 4 #   * * * *
# space 4 star 3 #     * * *
# space 6 star 2 #       * *
# space 8 star 1 #         *

#solution
n = int(input())
for rows in range(n):
    for space in range(2*(rows+1)):
        print(" ", end="")
    for col in range(n-rows):
        print("* ", end="")
    print()

 5

  * * * * *
    * * * *
      * * *
        * *
          *

In [109]:
#input
5

#output
# space 4 star 1 #     *
# space 3 star 3 #    ***
# space 2 star 5 #   *****
# space 1 star 7 #  *******
# space 0 star 9 # *********

#solution
n = int(input())
for rows in range(n):
    for space in range(n-rows-1):
        print(" ", end="")
    print("*" * (2*(rows+1)-1), end="")
    print()

 5

    *
   ***
  *****
 *******
*********

In [115]:
#input
5

#output
# space 0 star 9 # *********
# space 1 star 7 #  *******
# space 2 star 5 #   *****
# space 3 star 3 #    ***
# space 4 star 1 #     *

#solution
n = int(input())
for rows in range(n):
    for space in range(rows+1):
        print(" ", end="")
    print("*" * (2*(n-rows)-1), end="")
    print()

 5

 *********
  *******
   *****
    ***
     *

In [183]:
#input
5

#notice          #output
# space 8 star 1 #         *
# space 6 star 3 #       * * *
# space 4 star 5 #     * * * * *
# space 2 star 7 #   * * * * * * *
# space 0 star 9 # * * * * * * * * *

#solution
n = int(input())
for rows in range(n):
    print(" " * (2*(n-rows-1)), end="")
    print("* " * (2*(rows+1)-1), end="")
    print()

 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [127]:
#input
5

#output
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 15

#solution
n = int(input())
i = 0
for rows in range(n):
    for col in range(rows+1):
        i += 1
        print(i, end=" ")
    print()

 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [145]:
#input
5

#output
# 01
# 02 03
# 04 05 06
# 07 08 09 10
# 11 12 13 14 15

#solution
n = int(input())
i = 0
for rows in range(n):
    for col in range(rows+1):
        i = int(i) + 1
        if i < 10: i = "0"+str(i)
        print(i, end=" ")
    print()

 5

01
02 03
04 05 06
07 08 09 10
11 12 13 14 15